@font-face {
	font-family: "XiangcuiDengcusong";
	font-style: normal;
	font-weight: 400 900;
	font-display: swap;
	src: url("https://img.gnix807.cn/XiangcuiDengcusong.ttf") format("truetype");
}

:root {
	--font-basic: "MiSans Latin VF", /* Android/Linux */ "sans-serif", /* Firefox */ "Noto Sans SC", sans-serif;
	--font-serif: "XiangcuiDengcusong", /* Windows */ "Noto Serif SC-Local", "Noto Serif SC", serif;
	--font-creative: "Montserrat", "InterVariable", sans-serif;
	--font-stroke-free: "Barlow Condensed", "Montserrat", "Inter", /* macOS */ "Lantinghei SC", /* Windows */ "Microsoft YaHei", sans-serif;
	--font-monospace: "JetBrains Mono", /* Android/Linux */ "monospace", /* Windows */ "Cascadia Code", /* Windows */ "Consolas", /* Apple */ "Monaco", var(--font-basic), monospace;

	@media (max-resolution: 1.2dppx) {
		--font-basic: "MiSans Latin VF", system-ui, sans-serif;
	}
}

/* autoprefixer: ignore next */
// 仅在 Chrome 130+ 启用本地可变字体
@supports (box-decoration-break: clone) {
	@font-face {
		font-family: "Noto Serif SC-Local";
		font-weight: 100 900;
		src: local("Noto Serif SC");
	}
}
